.high {
  margin-left: 0.5em;
  margin-right: 0.5em;
  position: relative;
  color: rgba(243, 240, 240, 0.7);
}
.button {
  color: white;
  font-size: small;
  opacity: 0.5;
}

#overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  height: auto;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  background-color: #111111;
}

canvas {
  width: 100%;
  height: 100%;
}

#output,
#overlayOutput {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 10px;
  bottom: 10px;
  white-space: pre;
  z-index: 100000;
}

#loading-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  visibility: hidden;
}

#loading-container .text {
  color: #aaa;
  text-align: center;
}

#loading-container .bar {
  height: 5px;
  background: #aaa;
  width: 50%;
}
#download-button,
#ARdownloadButton,
#ARscreenshotButton {
  font-family: monospace;
  position: absolute;

  cursor: pointer;
  opacity: 0.9;
  z-index: 10000;
  display: block;
  width: 71px;
  height: 71px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  font-size: small;
  background: #cf4026;
  box-shadow: 0 0 3px gray;
}
#download-button :hover {
  background: #777555;
}

div #node,
#node-l {
  position: relative;
  display: block;
  text-align: left;
  color: rgba(255, 255, 255, 0.901);
  bottom: calc(95% - 40px);
}
div #node-l {
  font-weight: bold;
  color: rgba(36, 158, 230, 0.98);
  font-size: larger;
}
#download-button {
  bottom: calc(13% - 40px);
  left: calc(20% - 40px);
}
#ARdownloadButton {
  bottom: calc(13% - 40px);
  left: calc(20% - 40px);
}
#ARscreenshotButton {
  bottom: calc(13% - 40px);
  left: calc(50% - 40px);
}

#gizmo-icon {
  position: relative;
  width: 1.5em;
  top: 0.3em;
}
